{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <title>Magic Page</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="logo"><img src="{% static 'gym3.png' %}" width="200" height="160" alt=""/></div>
            <div id="topbanner"><img src="{% static 'gym4.webp' %}" width="400" height="200" alt=""/></div>
        </header>
        <section id="main">
    <h1>Magic Result</h1>
    <p>{{ result }}</p>
    <div id="logo"><img src="{% static 'pullups.jpg' %}" width="400" height="250" alt=""/></div>
</body>
</html>